*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
     font-family: 'Montserrat', sans-serif;
}

.full-width {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto; 
} 
.x-center
{
    text-align: center;
}
.flex{
    display:flex;
}
