@media(max-width:740px){
    .header-wrapped {   
    }
    .header-nav {
        display: none;
    }
    .header-right-search {
        display: none;
    }
    .background-img{
        top: 50%;
    }
    .reason-wrapped  {
        flex-direction: column-reverse;
    }

    .about-schl {
        padding-left: 8px;
        padding-right: 8px;
    }

    .reason-img{
        width:100%;
    }
    .why-list{
        width:100%;
    }
    .why-item{
        width:100%;
    }
    .infer{
        height:48rem;
    }
    .infer-parph{
       right:20px;
       left:20px;
        width:auto;
    }
    .extra-item{
        width:100%;
        margin-bottom:24px;
    }
    .slogan-text {
        width:100%;
    }
    .slogan-img{
        display:none;
    }
    .footer-menu-2{
        width:100%;
        order: 1;
        text-align: center;
        margin-top:36px;
    }
    .footer-menu-3{
        order: 2;
        width:100%;
        text-align: center;
    }
    .footer-logo{
        order: 3;
        width:100%;
        text-align: center;
    }
    .footer-logo img{
        width:70%;
    }
    .footer-contact{
        order: 4;
        width:100%;
        text-align: center;
    }
    .license{
       position: unset;
       order:5;
       text-align: center;
    }

    /* Mobile menu */
    .mobile-menu {
        display: block;
        flex: 1;
        text-align: center;
    }

    .mobile-menu-link { 
        font-size: 24px;
        text-decoration: none;
        color: white; 
        /* position: relative; */ 
        display: flex;
        align-items: center;
        justify-content: space-around;
    } 

    .active-mobile-menu {
        display: flex !important; 
    } 
    
    .mobile-menu-link {
        color: white;
        text-decoration: none;
        display: flex;
        padding: 32px 0;
    }

    .header-right-resg-link {
        font-size: 12px;
    }

    .header-logo {
        display: none;
    }

    .header-logo-mobile {
        display:block;
        width:30%; 
        padding: 0 16px;
    }  

    /*tuyen sinh*/
    .question{
        width:100%;
        
    }
    .question-list{
        border-radius: 0;
    }
    .question-item{
        padding:20px 24px;
        
    }
    .weather{
        width:100%;
        position:relative;
        left:0;
    }
    .local-map{
        height:468px;
    }
    .experience-img {
        width:100%;
    }
    .experience-title{
        width:100%;
        padding:0;
    
    }
    
    /* tuyen sinh */ 
    .header-left {
        margin: 0;
    }

    .header-right {
        margin: 0 10px 0 0 ;
    } 

    .header-title {
        margin: 28px 12px;
        font-size: 32px;
    }

    .header-img {
        width: 100%;
    }

    .header-img-text {
        font-size: 22px;
    }

    .header-img-content {
        width: 100%;
        padding: 22px;
    }

    .experience-intro {
        width: 100%;
        padding: 180px 16px 50px;
        text-align: center;
    }

    .experience-title {
        font-size: 28px;
    }

    .experience-content {
        font-size: 18px;
        line-height: 1.4;
    }
    
    .experience-item-content {
        height: 550px;
    } 

    .process {
        padding: 64px 16px;
        flex-wrap: wrap;
    }

    .process-left {
        width: 100%;
    }

    .process-right {
        width: 100%;
        margin: 0;
    }

    .question-item-left {
        padding-right: 50px;
    } 

    /* Modal */
    .modal-body-img {
        width: 100%;   
    }

    .modal-body { 
        width: 100%;
    }
}