@media(max-width:740px){
    .header-wrapped {   
    }
    .header-nav {
        display: none;
    }
    .header-right-search {
        display: none;
    }
    .background-img{
        top: 50%;
    }
    .reason-wrapped  {
        flex-direction: column-reverse;
    }

    .about-schl {
        padding-left: 8px;
        padding-right: 8px;
    }

    .reason-img{
        width:100%;
    }
    .why-list{
        width:100%;
    }
    .why-item{
        width:100%;
    }
    .infer{
        height:48rem;
    }
    .infer-parph{
       right:20px;
       left:20px;
        width:auto;
    }
    .extra-item{
        width:100%;
        margin-bottom:24px;
    }
    .slogan-text {
        width:100%;
    }
    .slogan-img{
        display:none;
    }
    .footer-menu-2{
        width:100%;
        order: 1;
        text-align: center;
        margin-top:36px;
    }
    .footer-menu-3{
        order: 2;
        width:100%;
        text-align: center;
    }
    .footer-logo{
        order: 3;
        width:100%;
        text-align: center;
    }
    .footer-logo img{
        width:70%;
    }
    .footer-contact{
        order: 4;
        width:100%;
        text-align: center;
    }
    .license{
       position: unset;
       order:5;
       text-align: center;
    }

    /* Mobile menu */
    .mobile-menu {
        display: block;
        flex: 1;
        text-align: center;
    }

    .mobile-menu-link { 
        font-size: 24px;
        text-decoration: none;
        color: white; 
        /* position: relative; */ 
        display: flex;
        align-items: center;
        justify-content: space-around;
    } 

    .active-mobile-menu {
        display: flex !important; 
    } 
    
    .mobile-menu-link {
        color: white;
        text-decoration: none;
        display: flex;
        padding: 32px 0;
    }

    
    .header-logo-mobile {
        display:block;
        width:30%; 
        padding: 0 16px;
    }  
    .header-right-resg-link {
        font-size: 12px;
    }

    .header-logo {
        display: none;
    }


    /*tuyen sinh*/
    .question{
        width:100%;
        
    }
    .question-list{
        border-radius: 0;
    }
    .question-item{
        padding:20px 24px;
        
    }
    .weather{
        width:100%;
        position:relative;
        left:0;
    }
    .map{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column-reverse;
    }
    .local-map{
        height:468px;
    }
    .weather{
        border-radius:0;
    }
    .experience-img {
        width:100%;
    }
    .experience-title{
        width:100%;
        padding:0;
    
    }
    .header-name-2{
        display:none;
    }

    /*chuong trinh hoc*/
   
    .contact-list{
        display:none;
    }
    .welcome{
        flex-wrap: wrap;
        flex-direction: column;
    }
    .welcome-left{
        margin: 0;
       width:100%;
       padding: 56px 6.5% 24px;
    }
    .welcome-right{
        width: 100%;

    }
    .general {
        flex-wrap: wrap;
        flex-direction: column;
    }
    .bridge{
        width:100%;
    }
    .general-intro{
        width:100%;
        padding: 46px 6.5% 56px;
    }
    .benefit{
        flex-wrap: wrap;
        flex-direction: column-reverse;
    }
    .benefit-right{
        width: 100%;
    }
    .benefit-img{
        width: 100%;
    }
    .benefit-left{
        width:100%;
        padding: 46px 6.5% 56px;
    }
    .benefit-body{
        width:100%;
    }
    .tuition{
        flex-wrap: wrap;
        flex-direction: column;
    }
    .tuition-img{
        width:100%;
    }
    .tuition-intro{
        width:100%;
        padding: 46px 6.5% 56px;
    }
    .tuition-btn{
        width:100%;
    }
    .term-dates-wrapped{
        flex-wrap: wrap;
        flex-direction: column;
        align-items:baseline;
    }
    .term-dates-left{
        width:100%;
        margin-bottom: 55px;    
    }
    .term-dates-desc{
        margin-bottom: 50px;
    }
    .term-dates-right{
        width:100%;
        
    }













    /* tuyen sinh */ 
    .header-left {
        margin: 0;
    }

    .header-right {
        margin: 0 10px 0 0 ;
    } 

    .header-title {
        margin: 28px 12px;
        font-size: 32px;
    }

    .header-img {
        width: 100%;
    }

    .header-img-text {
        font-size: 22px;
    }

    .header-img-content {
        width: 100%;
        padding: 22px;
    }

    .experience-intro {
        width: 100%;
        padding: 180px 16px 50px;
        text-align: center;
    }

    .experience-title {
        font-size: 28px;
    }

    .experience-content {
        font-size: 18px;
        line-height: 1.4;
    }
    
    .experience-item-content {
        height: 550px;
    } 

    .process {
        padding: 64px 16px;
        flex-wrap: wrap;
    }

    .process-left {
        width: 100%;
    }

    .process-right {
        width: 100%;
        margin: 0;
    }

    .question-item-left {
        padding-right: 50px;
    } 

    /* Modal */
    .modal-body-img {
        width: 100%;   
    }

    .modal-body { 
        width: 100%;
    }

    /*tin tức*/
    .news-wrapper {
        width:100%;
        padding:0;
    }
    .header-menu-logo img{
        display:none;
    }
    .news{
        width:100%;
    }
    .news-title{
       font-size: 25px;
       margin: 22px 0 15px;
    }
    .news-left{
        margin-right:20px;
    }
    .news-left-title{
        font-size:14px;
    }
    .news-left-line>.title{
        margin-right:50px;
    }
    .news-left-time{
        font-size:12px;
    }
    .news-left-time>i{
        margin-right:5px;
    }
    .news-left-text{
        font-size:12px;
    }
    .news-item-title{
        font-size:11px;
    }
    .news-left-line>.title{
        font-size:11px;
    }
    .news-item-time{
        font-size:11px;
    }
    .news-item-time>i{
        margin-right:5px;
    }
    .events-list {
        flex-wrap: wrap;
        flex-direction: column;
        padding:0;
    }
    .events-item-wrapper{
        width:100%;
        padding:0;
    }
    .events-item{
        border-radius: 0;
    }
    .events-item-img img{
        border-radius: 0;
    }
}