.header-scroll.sticky{
    position:fixed;
    width:100%;
    height: auto;
    top: 0;
    left: 0;
    background-color:#fff;
    z-index: 100;
}
.sticky .header-name{
    color:#003057;
}
.sticky .header-right-menu>i{
    color:#fff;
    background-color:#003057;
}




header{
    background-color: #003057;
}
.flex{
    display:flex;
}
.header-left{
    margin-left:40px;
}
.header-logo{
    width:10%;
}
.header-logo img{
    width:100%;
}   
.header-name{
    color:#fff;
   margin:40px 10px 0;
}
.header-right{
    align-items: center;
    margin-right:30px;
    width:30%;
}
.header-right-resg{
    margin-right:12px;
}
.header-right-resg>a{
    background-color:#30ccd6;
    padding:16px 32px;
    border-radius: 60px;
    color:#111a29;
    font-size:12px;
    font-weight:600;
    text-decoration: none;
    text-transform: uppercase;
}
.header-right-resg>a:hover{
    color: #fff;
    background-color:#111a29;
}

.header-right-menu{
    
}
.header-right-menu>i{
    font-size:25px;
    background-color:#fff;
    padding: 12px 15px;
    border-radius:50%;
}
.header-title-part{
    text-align:right;
}
.header-title{
    text-transform: uppercase;
    color:white;
    font-size:60px;
    margin: 24px 37px 24px 0;
}
.header-img-wrapper{
    position: relative;
    display:flex;
    justify-content: flex-end;  
}
.header-img{
    width:90%; 
}
.header-img img{
    width:100%;
}
.header-img-content{
    position:absolute;
    color:white;
    width: 90%;
    padding:106px 40px 48px;    
    right: 0; 
    bottom:0;
    background:linear-gradient(0deg, #00000088 0%, #00000000 100%);  
}
.header-img-title{
    font-size:14px;
    font-weight:600;
    text-transform: uppercase;
    border-top: 1px solid #ccc;
    padding-top: 12px;
    margin-bottom:16px;
}
.header-img-text{
    font-size:32px;
    font-weight:800;
}


















/*experience*/
.experience{
    background-color:#30ccd6;
    position:relative;
    padding-bottom:40px;
    
}
.experience-img{
    width:60%;
    position:absolute;
    right:0;
}
.experience-img img{
    width:100%;
}
.experience-intro{
    width:55%;
    padding:250px 100px 104px ;
}
.experience-title{
    font-weight:500;
    margin-bottom:16px;
    font-size:40px;
}
.experience-content{
    font-size:20px;
}
.experience-list{
    display:flex;
    flex-wrap: nowrap; 
    margin: 0 16px;
}
.experience-item{
    flex: 0 0 30%;
    width:30%;
    background-color:#fff;
    border-radius: 16px;
    overflow:hidden;
    margin-right:36px;  
}
.experience-item-content{
    padding: 0 32px;
}
.experience-item-img{ 
    width:100%;   
    padding: 32px;
}
.experience-item-img img{
   width:100%;
   border-radius: 50%;

}
.experience-item-title{
    font-size:28px;
    font-weight:700;
    color:#111a29;
}
.experience-item-desc{
    margin:16px;
    color:#455664;
    height:100px;
}
.experience-item-more{
    margin-top:50px;
    background-color:#b4ebf5;
    width:100%;
    padding: 12px;
    display: flex;
    justify-content:center;
    text-decoration: none;
    align-items: center; 
    color:#111a29;  
}

.experience-item-more:hover {
    background-color: #455664;
    color: white;
}

.experience-item-more:hover > .experience-item-more-icon > i {
    transform: rotate(90deg);
}

.experience-item-more-icon { 
    padding: 8px 10px;
    border-radius:50%;
    background-color:#fff;
    color: black;
} 

.experience-item-more-icon >i {
    transition: all 0.2s ease-in; 
}


.experience-item-more-text{
    text-transform: uppercase;
    font-size:12px;
    font-weight:600;
    padding-left: 12px;
}
.video>iframe{
    display:flex; 
}

/*process*/
.process{
    padding:55px 110px;
}
.process-left{
    width:50%;
}
.process-left img{
    width:100%;
    border-radius: 10px;
}
.process-right{
    width:50%;
    margin-left:30px;
}
.process-title{
    font-size:32px;
    font-weight:600;
}
.process-desc{
    color:#716D67;
    margin:32px 0;
}
.process-list{
    color:#716D67;
    margin-left:10px;
}
.process-list li{
    list-style-type: none;
    margin-bottom:16px;
}

/*question*/
.question{
    width:80%;
    margin:0 auto;
    padding-bottom:104px;
    padding-top:0;
}
.question-title>h2{
    text-transform: uppercase;
    font-size:38px;
    font-weight:300;
    text-align: center;
    margin-bottom:40px;
}
.question-list{
    background-color: #e8f8fb;
    border-radius: 16px;
    
}
.question-item{
    padding: 32px;
    border-bottom:1px solid #ccd5dd;
}
.question-item:last-child{
    border:none;
}
.question-item-title{
   display:flex;

}
.question-item-left{
    padding-right:25%;
    font-size:20px;
    font-weight:600;
    
}
.question-item-right{
    position:absolute;
    right: 48px;
    top: 48x;
}
.question-item-right>i{
    background-color: #fff;
    border-radius:50%;
    padding:9px 10px;
    cursor: pointer;
    transition: all 0.25s;
    transform: rotate(-90deg);
}
.question-item-answer{
    font-size:18px;
    padding-top:32px;
    margin-right:25%;
    display:block;
}
.modal{
    position:fixed;
    /*tu dong width height bang voi cua so trinh duyet*/
    top:0;
    left:0;
    right:0;
    bottom:0;
    background:rgba(0,0,0,0.4);
    align-items:center;
    justify-content:center;
    display:none;
    z-index: 1000; 
}
.modal.open{
    display:flex;
}
.modal-container{
    background:#fff;
    width:900px;
    max-width:calc(100% - 32px);
    min-height:200px;
    position:relative;
    animation:modalFadeIn ease .5s;
    display:flex;
    border-radius: 12px;
    overflow:hidden;    
}
.modal-header{
    background-color:#005a87;
    height: 130px;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size:30px;
    color:#fff;
}
.modal-close {
    position: absolute;
    right: 10px;
    top: 10px;
    color: #d0dce7;
    padding: 12px;
    cursor: pointer;   
    padding: 8px 12px;
    background-color:#094067;
    border-radius: 50%;
    font-size: 14px;
}

.modal-close:hover{
    opacity:1;
}
 
.modal-body{
    width:50%;
    padding:16px 32px;    
    display:flex; 
    margin: 32px 0;
}

.modal-body-img {
    width:50%;
    display:flex;
}

.modal-body-img > img {
    width: 100%;
}
 
.modal-body-name > input {
    border: none;   
    margin-bottom: 24px;
    border-bottom: 2px solid #094067;
    width:100%;
    outline:none;
    font-size: 16px;
    padding: 4px 0;
}  

.modal-body-name > input::placeholder    {
    color: #094067;
    text-transform: capitalize;
}

.modal-body-name > textarea {
    border: 2px solid #094067;
    width:100%; 
    font-size: 16px;
    padding: 4px;
    border-radius: 8px;
}

.modal-body-name > textarea:focus {
    border: 2px solid #094067; 
    outline: none;
}

.modal-body-name > button {
    width:100%;
    border: none;
    padding: 12px 0;
    color: white;
    background-color:#094067;
    cursor:pointer;
    margin-top: 12px;
    font-size: 16px; 
    text-transform: uppercase; 
    border-radius:4px;
}


@keyframes modalFadeIn {
    from{
        opacity:0;
        transform:translateY(-140px);
    }
    to{
        opacity:1;
        transform:translateY(0);/*tra ve vt ban dau*/
    }
}
























/*map-weather*/
.map-weather{

}
.map{
    position: relative;
   
}
.local-map{
    width:100%;
    height:900px;
}
.weather{
    background-color: #003057;
    top:0;
    left:8.5%;
    padding:48px;
    width:30%;
    position:absolute;
}
.weather-title{
    color:white;
    text-transform: uppercase;
    font-weight:400;
    font-size:32px;
    margin-bottom:56px;
    letter-spacing:-0.4;
}
.location{
    color:#30ccd6;
    display:block;
}
.weather-detail-part{
    margin-bottom:40px;
    color:#fff;
}
.detail-label{
    font-size:14px;
    text-transform:uppercase;
    padding:0 0 8px;
    border-bottom: 1px solid rgba(255,255,255,0.3);
    font-weight:600;
}
.detail-content{
    margin-top:16px;
  
}
.detail-item{
    display:flex;
}
.detail-time{
    margin-right:5px;
    font-size:56px;
    font-weight:500;
}
.detail-unit{
    font-size:16px;
}
.detail-desc{
    
}
.weather-icon{
    margin-right:6px;
}
.weather-number-wrapper{
    display:flex;
}
.weather-number{
    font-size:56px;
    font-weight:500;
}
.weather-unit{
    margin-top:14px;
}
.weather-btn{
    padding:13px 24px;
    border: 1px solid #fff;
    border-radius:42px;
    width:50%;
}
.weather-btn a{
    color:#fff;
    text-decoration: none;
    font-size:12px;
    text-transform: uppercase;
}
.weather-btn:hover {
    background-color: #fff;
    font-weight: bold;
}
.weather-btn:hover a{
    color:#003057;
}
.block{
    display:block;
}



























/*footer*/
.footer{
    background: url('../img/index/footer.jpg');
    background-position: center;
    background-repeat:no-repeat;
    background-size: cover;
    margin-top:3.5rem;
    justify-content: space-around;
    align-items: center;
    position:relative;
    flex-wrap: wrap;
}
.footer-logo{
    width:20%;
}
.footer-logo img{
    width: 100%;
}
.footer-contact{
    margin:2rem;
}
.social-network{
    margin-top:2rem;
    font-size: 40px;
    color:white;
}

.contact li{
    list-style-type: none;
    line-height:2.0;
    color:beige;
    text-decoration:none;
}
.contact a{
    color: white;
    text-decoration: none;
}
.contact a:hover{
    text-decoration: underline;
}
.menu-item {
    text-decoration: none;
    list-style-type:none;
    color:beige;
    line-height:1.6;
    font-weight:700;
}
.license{
    position:absolute;
    bottom:20px;
    right:20px;
    color:antiquewhite;
}
/* Slick slider */

.slick-prev,
.slick-next {
    position: absolute;
    top:50%;
    transform: translateY(-50%); 
    padding: 8px 14px; 
    z-index: 10;
    border: none;
    border-radius: 50%;
    font-size: 18px;
    cursor: pointer; 
} 

.slick-prev {
    left:-12px;
}

.slick-next {
    right: 22px;
}

